@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GameOver";
  src: url("../fonts/GameOver/game_over.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: digital-dismay-regular;
  src: url("../fonts/digital-dismay-regular.ttf") format("truetype");
  /*font-style: normal;*/
  /*font-weight: normal;*/
}