@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: digital-dismay-regular;
  src: url(../fonts/digital-dismay-regular.ttf);
}

:root {
    --bs-black: #000000;
    --bs-bg37: #373737;
    --bs-bg88: #888888;
    --bs-bgd6: #d6d6d6;
    --bs-bgf1: #f1f1f1;
    --bs-yellow: #DEB851;
}

body {
    font-family: 'Poppins', sans-serif;
    /*background: url(../img/shop-pattern.png);*/
}
a, button{
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%);
}

p{
    margin-bottom: 0;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}

.row>* {
    padding-right: 10px;
    padding-left: 10px;
}

.bgf1{
    background: var(--bs-bgf1);
}
.pt-20 {
    padding-top: 20px;
}
/*.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 1432px;
    max-width: 100%;
}*/
/*---header---*/
.main-header {
    padding: 15.3px 0;
    background: var(--bs-white);
}
.avtar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-brand img {
    width: 92px;
}

/*---header-close---*/
/*---widge---*/

.main-inner ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    background-color: transparent;
}
.main-inner ::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.main-inner ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.0);
    background-color: #E3E3E3;
}

.main-widget {
    font-size: 11px;
    color: var(--bs-bg88);
    background: var(--bs-white);
    margin-bottom: 20px;
}

/*.main-widget:not(:last-child){
    margin-bottom: 18px;
}*/

.main-widget-grid {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
.widget-title {
    background: var(--bs-bg37);
    padding: 15.42px 0;
}

.widget-title h3 {
    font-size: 11px;
    color: var(--bs-white);
    font-weight: 400;
    margin: 0;
}
.main-widget-inner{
    border: 1px solid var(--bs-bgd6);
    border-top: 0;
}
.date-and-time [class*="col"]{
    min-height: 44px;
}
.date-and-time [class*="col"]:not(:last-child) {
    border-right: 1px solid var(--bs-bgd6);
}
.date-and-time p sup {
    margin-right: 2px;
    font-size: 70%;
    top: -.4em;
}
.steve-job {
    padding: 7px 7px;
    padding-left: 20px;
}
.steve-job-img {
    margin-right: 4px;
}
.steve-job-img img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.steve-job p:not(:last-child) {
    margin-right: 20px;
}
.awards-btn {
    padding: 25px 27px;
    max-height: 201px;
    overflow: auto;
}
.awards-btn .btn {
    font-size: 9px;
    background: var(--bs-bgf1);
    border: 1px solid var(--bs-bgd6);
    color: var(--bs-black);
    padding: 7.25px 33.63px 5.25px 12px;
    display: block;
    transition: all 0.5s;
}
.awards-btn .btn:not(:last-child){    
    margin: 0px 0 13px;
}
.awards-btn .btn:hover {
    background: var(--bs-yellow);
    color: var(--bs-white);
}
.awards-btn .btn.active {
    background: var(--bs-bg37);
    color: var(--bs-white);
}

.widget-text-main {
    height: 600px;
    overflow: auto;
}
.widget-text p {
    line-height: 20px;
}

.widget-text {
    padding: 11px;
    color: var(--bs-bg37);
}

.widget-border {
    border: 1px dashed #d6d6d6;
    padding: 12px 14px;
    position: relative;
}
.widget-text p:not(:last-child) {
    margin-bottom: 19px;
}

.widget-textarea-main textarea {
    width: 100%;
    border: 0;
    outline: none !important;
    color: var(--bs-bg37);    
    height: 416px;
}
.widget-textarea-main textarea:focus {
    color: blue;
}
.main-widget ::placeholder {
        color: var(--bs-bgd6);
    }

    .main-widget :-ms-input-placeholder {
        color: var(--bs-bgd6);
    }
      
    .main-widget ::-ms-input-placeholder {
        color: var(--bs-bgd6);
    }


/*---widge-close---*/
/*---rate---*/

.rate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 14px 0;
    position: relative;
}
.simple-rating i {
    font-size: 16px;
    color: var(--bs-bgd6);
    margin: 0px 2px;
}
.simple-rating i.rated {
    color: var(--bs-bg37);
    transition: all 0.5s;
}
.rate_err_msg {
    position: absolute;
    background: rgb(55 55 55 / 90%);
    padding: 7px 10px 7px 30px;
    color: var(--bs-white);
    left: 12px;
    top: 8px;
    width: calc(100% - 24px);
}
.save-review {
    color: var(--bs-bg37);
    min-height: 44px;
    width: 100%;
    background: transparent;
    border: 0;
}

.save-review:hover {
    background: var(--bs-yellow);
    color: var(--bs-white);
}
.save-review:active {
    background: var(--bs-bg37);
    color: var(--bs-white);
}

.save-review span {
    margin-left: 24px;
}

.save-review img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.save-review:hover img, .save-review:active img {
    filter: brightness(540%);
}
.send-review-modal {
    position: absolute;
}
/*---rate-close---*/
/*---timer-counter---*/
.timer-counter .uk-countdown-number, .timer-counter .uk-countdown-separator {
    font-size: 48px;
    font-family: digital-dismay-regular;
    color: var(--bs-bg37);
    line-height: 1;
    text-align: center;
}
.timer-counter .uk-countdown-label {
    color: var(--bs-bg37);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.uk-countdown-separator {
    position: relative;
    top: -7px;
}

.timer-counter {
    padding: 27.25px 0;
}
/*---timer-counter-close---*/
/*---modal_check---*/
.modal_check {
    position: absolute;
    top: 0;
    background: #373737E0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal_check .modal-content {
    font-size: 9px;
}
.modal_check .modal-dialog {
    margin: 0;
    min-height: 100%;
}
.modal-text-inner {
    margin: 18% auto 0;
    max-width: 170px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-left: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-on-off {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-on-off:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider-on-off {
  background-color: #2196F3;
}

input:focus + .slider-on-off {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-on-off:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(11px);
}
.slider-on-off.round {
  border-radius: 34px;
}

.slider-on-off.round:before {
  border-radius: 50%;
}
.modal_check .modal-body {
    padding: 0 37px;
}
.modal_check .modal-content {
    background: transparent;
    color: var(--bs-white);
    padding: 0;
}
.modal_check_btn button {
    min-width: 80px;
    border: 0;
    padding: 7.25px 10px;
}
.modal_check_btn button:not(:last-child) {
    margin-right: 27px;
}

.modal_check_btn {
    margin-top: 29px;
}
.modal_check_btn button i {
    margin-right: 4px;
}

/*---modal_check-close---*/

@media only screen and (min-width: 992px) {
.left-sidebar, .header-logo {
    max-width: 326px;
    padding-right: 16px;
}
.right-sidebar {
    max-width: 320px;
}
.middle-area {
    padding-left: 20px;
}
.widget-text-main {
    height: -webkit-calc(100vh - 462px);
    height: -moz-calc(100vh - 462px);
    height: -o-calc(100vh - 462px);
    height: calc(100vh - 462px);
    overflow: auto;
}
.widget-textarea-main textarea {
    height: -webkit-calc(100vh - 657px);
    height: -moz-calc(100vh - 657px);
    height: -o-calc(100vh - 657px);
    height: calc(100vh - 657px);
}
.middle-area-grid {
    height: -moz-calc(100vh - 83px);
    height: -webkit-calc(100vh - 83px);
    height: -o-calc(100vh - 83px);
    height: calc(100vh - 83px);
    overflow: auto;
}
}