.DropDown [class$="szh-menu-container"] {
  width: 100%;
}

.Filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Menu.Menu {
  min-width: 100%;
  width: 100%;
  padding: 0;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;
}

.Menu-InputContainer {
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #fff;
}

.Menu-Input {
  color: #888888;
  padding-left: 40px;
  outline: none;
  border: 1px solid #d6d6d6;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Menu-Input::placeholder {
  color: #888888;
}

.Menu-InputSearchIcon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu-Item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background-color: #f1f1f1;
}

.Filter-Arrow {
  height: 10px;
  width: 10px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #888888;
  transform: rotate(-45deg);
}
