.Sidebar {
    width: 300px;
    background-color: #fff;
}

.Text {
    font-size: 12px;
    color: #37373799;
}

.Profile {
    margin-top: 43px;
    padding: 10px;
}

.Profile-Avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.Profile-Avatar_Round {
    border-radius: 50%;
}

.Profile-Data {
    margin-top: 46px;
}

.Profile-Text {
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.Profile-Text:last-child {
    margin-bottom: 0;
}

.Profile-Text span {
    margin-left: 32px;
}

.Favorate-Links {
    margin: 0;
    margin-top: 57px;
    width: 100%;
}

.Title {
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    text-transform: uppercase;
    color: #888;
    font-size: 11px;
    padding: 20px;
}

.Links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Links-Item {
    text-transform: uppercase;
    color: #888;
    font-size: 11px;
    padding: 20px;
    border-bottom: 1px solid #D6D6D6;
    text-decoration: none;
}

.Links-Item:hover {
    background-color: #373737;
    color: #fff;
    cursor: pointer;
}
