.AuthContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  display: grid;
  grid-template-rows: minmax(50px, 170px) minmax(580px, 700px);
  z-index: 11;
  overflow-y: auto;
}

.AuthContainer-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 86px; */
}

.AuthContainer-Title {
  /* margin: 64px 67px 0 0; */
  font-size: 48px;
  color: #d6d6d6;
  font-weight: 400;
}

.AuthContainer-Content {
  margin: 0 1rem;
  background-color: #F1F1F1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* .LoginRegisterContainer-BackToLogin {
  display: flex;
  justify-content: center;
  margin: 240px 0 30px;
} */

.LoginRegisterContainer-A {
  color: blue;
  margin-left: 5px;
}
