.PanelTable-TabList[data-reach-tab-list] {
  background-color: transparent;
}

.PanelTable-Tab[data-reach-tab] {
  padding: 15px 0;
  min-width: 120px;
  font-size: 11px;
  color: #373737;
  text-transform: uppercase;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;
}

.PanelTable-Tab[data-selected].PanelTable-Tab {
  background-color: #fff;
  border-bottom-color: #d6d6d6;
}

.PanelTable-TabPanels {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-top: none;
}

.PanelTable-ButtomFilters {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}

.PanelTable-Pagination {
  padding: 15px 0;
  background-color: #f1f1f1;
}
