.LabelsList {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    min-height: 370px;
    padding: 0 14px 0 18px;
    list-style: none;
    overflow-y: scroll;
}

.LabelsList::-webkit-scrollbar {
    width: 4px;
}

.LabelsList::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-top: 50px solid #E3E3E3;
}