.FooterContainer {
  display: flex;
  justify-content: center;
  color: #373737;
  font-size: 12px;
}
.Body-FooterContainer {
  justify-self: flex-end;
}

.FooterContainer-Ref {
  color: blue;
  cursor: pointer;
  margin-left: 6px;
}