.FilterWrapper {
  width: 235px;
}

.FilterWrapper_Location {
  min-width: 235px;
  flex: 1 1 auto;
}

.Filter {
  padding: 0 20px;
  height: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  color: #888888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Filter-MenuItem {
  padding-left: 45px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.Filter-MenuItem div {
  display: flex;
  align-items: center;
}

.Filter-MenuItem div:not(:last-child) {
  margin-right: 10px;
}

.Filter-MenuItem:hover {
  color: #fff;
  background-color: #deb851;
}

.Filter-MenuItem_Location {
  padding-left: 20px;
  background-color: #f1f1f1;
}

.PostsPerPage {
  display: flex;
  height: 45px;
}

.PostsPerPage-Filter {
  height: 100%;
  padding: 0 15px;
  width: 80px;
  color: #888888;
  background-color: #f1f1f1;
  border: 1px solid #d6d6d6;
  border-radius: 0 5px 5px 0;
}

.PostsPerPage-Filter_MenuItem {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.PostsPerPage-Title {
  padding: 0 17px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #888888;
  border: 1px solid #d6d6d6;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.PostsPerPage-Filter_Selected-MenuItem {
  color: #fff;
  background-color: #373737;
}
