.Tabs[data-reach-tabs],
.Tabs [data-reach-tab-panels] {
  height: calc(100% - 5rem);
}

.Tabs [data-reach-tab-list],
.Categories_SkeletonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 12px;
  margin-bottom: 20px;
  background: none;
}

.Tabs [data-reach-tab] {
  height: 45px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--grey-500);
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tabs [data-reach-tab] span {
  margin-left: 10px;
}

.Tabs [data-reach-tab] svg path {
  fill: #d6d6d6;
}

.Tabs [data-reach-tab][data-selected] {
  background: var(--grey-100);
}

.Tabs [data-reach-tab-panel] {
  height: 100%;
}

.CategoriesList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CategoriesList-Header {
  padding: 10px;
  margin: 0;
  font-size: 9px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: white;
  background: black;
}

.CategoriesList-List {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  border: 1px solid lightgrey;
  border-top: none;
}

.CategoriesList-List > li > ul {
  border: none;
}

.CategoriesList-ItemLink {
  display: block;
  font-size: 9px;
  line-height: 1;
  padding: 10px 20px;
}

.CategoriesList-List > li > ul .CategoriesList-ItemLink {
  padding-left: 30px;
}

.CategoriesList-ItemLink:hover {
  background: var(--accent-color);
  color: var(--white);
}

.CategoriesList-ItemLink_heading {
  position: sticky;
  top: 0;
  background: lightgrey;
}

.Categories_SkeletonTab {
  height: 45px;
  background-color: var(--grey-100);
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.Categories_SkeletonTab {
}

@keyframes color {
  0% {
    background-color: var(--grey-100);
  }
  50% {
    background-color: var(--grey-200);
  }
  100 {
    background-color: var(--grey-100);
  }
}
