.HomePageSection-Content {
  display: flex;
}

.HomePageSection-TitleWrapper {
  height: 100%;
  width: 300px;
  min-height: 1400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePageSection-Title {
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-size: 118px;
  font-weight: bold;
  color: #fff;
}

.Cards {
  padding: 60px 60px 60px 60px;
  width: calc(100% - 300px);
}

.Caregories {
  padding: 100px 60px;
  /* background-image: url("https://source.unsplash.com/random/1920x1080"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Caregories-Content {
  padding: 0;
  list-style: none;
  height: 240px;
  overflow-y: auto;
}

.Caregories-Content li {
  height: 30px;
  margin: 0 7px 7px 0;
  display: inline-block;
  background: transparent;
}

.Caregories-ItemLink {
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  line-height: 30px;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
}
