.Text {
  color: red;
  font-size: 12px;
  /* FIXME: по дизайну здесь 8 px шрифт, но выглядит он слишком мелко */
}
.Form-Text {
  text-align: center;
}

.Text[data-is-invisible='true'] {
  display: none;
}