.Sidebar {
    width: 300px;
    height: calc(100vh - 64px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.Text {
    border-bottom: 1px solid #D6D6D6;
    text-transform: uppercase;
    color: #373737;
    line-height: 16px;
    font-size: 11px;
    font-weight: medium;
}

.Sidebar-Title {
    margin-top: 74px;
    padding: 20px;
}

.Sidebar-Button {
    padding: 14px 20px;
    background-color: #F1F1F1;
    cursor: pointer;
}

.Sidebar-Folders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.LabelsList {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    flex-grow: 1;
    padding: 0 14px 0 18px;
    list-style: none;
    overflow-y: auto;
}

.LabelsList::-webkit-scrollbar {
    width: 4px;
}

.LabelsList::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-top: 50px solid #E3E3E3;
}





