.Sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 11;
    overflow-y: auto;
}

.Text {
    border-bottom: 1px solid #D6D6D6;
    text-transform: uppercase;
    color: #373737;
    line-height: 16px;
    font-size: 11px;
    font-weight: medium;
}

.Sidebar-Title {
    margin-top: 74px;
    padding: 20px;
}

.Sidebar-Button {
    padding: 14px 20px;
    background-color: #F1F1F1;
    cursor: pointer;
}

.Sidebar-Folders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.LabelsList {
    padding: 14px 24px;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow-y: auto;
    position: relative;
}

.LabelsList::-webkit-scrollbar,
.Sidebar::-webkit-scrollbar {
    width: 4px;
}

.LabelsList::-webkit-scrollbar-thumb,
.Sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-top: 50px solid #E3E3E3;
}

.AddLabelForm-ButtonWrapper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 47px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.AddLabelForm-InputWrapper_Button {
    width: 120px;
    height: 28px;
    background-color: #F1F1F1;
    border: 1px solid #D6D6D6;
    padding: 8px 24px;
    color: #888888;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.AddLabelForm-InputWrapper_Button svg path {
    fill: #888888;
}

.AddLabelForm-InputWrapper_Button:hover {
    background-color: #DEB851;
    color: #fff;
}

.AddLabelForm-InputWrapper_Button:active {
    background-color: #373737;
    color: #fff;
}

.AddLabelForm-InputWrapper_Button:hover svg path,
.AddLabelForm-InputWrapper_Button:active svg path {
    fill: #fff;
}




