.Container {
  border: 1px solid #d6d6d6;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
}
.Body-Container {
  padding: 12px 0 12px 40px;
  color: #37373780;
  font-size: 1rem;
}

/* .Container-Logo {
  margin-right: 16px;
} */

.Container-Text {
  margin: 0 0 0 16px;
  color: #37373780;
}
