.container {
  border: 1px solid #D6D6D6;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.body__container {
  padding: 12px 0 12px 40px;
}

.container__logo {
  margin-right: 16px;
}

.container__text {
  margin: 0 0;
}