.Card {
  padding: 16px 16px 24px 16px;
  background-color: var(--surface-color);
  cursor: pointer;
  color: var(--grey-400);
}

.Card ul {
  margin-top: 16px;
}

.Card ul li {
  font-size: 0.688rem;
  margin-bottom: 4px;
}
/* TODO: ajust svg size */

.Card:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.Card:hover ul li a {
  color: #fff;
}

.Card:hover ul svg path {
  fill: #fff;
}

.Card-Title {
  margin: 16px 0 0 0;
  font-size: 1.125rem;
  line-heigh: 1.2;
  font-weight: bold;
}
