.SidebarContent {
  margin-top: 30px;
  border: 1px solid #d6d6d6;
}

.SidebarContent-Count {
  margin-bottom: 5px;
  font-size: 11px;
}

.SidebarContent-Link {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.SidebarContent-Link span:first-child {
  margin-right: 5px;
}

.SidebarContent-Title {
  height: 40px;
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: black;
}

.SidebarContent-Title .SidebarContent-Count {
  display: inline-block;
  margin-left: 5px;
}

.SidebarContent-Hero {
  padding: 0;
  margin: 0;
  list-style: none;
}

.SidebarContent-Text {
  min-height: 40px;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SidebarContent-Subtitle {
  margin: 0;
  padding-left: 15px;
  background-color: #e3e3e3;
}

.SidebarContent-Hero ul > li .SidebarContent-Subtitle {
  padding-left: 25px;
  background-color: #f1f1f1;
}

.SidebarContent-Text.SidebarContent-Text:hover {
  color: #fff;
  background-color: #deb851;
}
