

/* WIDGET */
.widget {

  .color-text{color: var(--color-text);}
  .color-title{color: var(--color-title);}
  .color-invalid{color: var(--color-invalid);}
  .color-hover{color: var(--color-hover);}
  .bg-tint{background: var(--color-tint);}
  .bg-title{background: var(--color-title); color: #FFF;}

  /* ELEMENTS */
  img{max-width: 100%; max-height: 100%; flex-shrink: 0; flex-grow: 0;}
  .icon{width: var(--size); height: var(--size); line-height: var(--size); display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; vertical-align: middle; position: relative; --size: 28px; border-radius: 50%; background-size: cover;}
  .icon.sm{--size: 16px;}
  .icon.sm img{max-width: 50%; max-height: 50%;}
  .w-100{width: 100%;}
  /* BUTTON */
  button{background: none; border: none; text-align: center; cursor: pointer; transition: 0.15s; display: flex; align-items: center; justify-content: center; color: inherit; padding: 0;}
  button.white{background: #FFF; color: var(--color-title);}
  button.tint{background: var(--color-tint); color: var(--color-title);}
  button.divider{background: var(--color-divider); color: #FFF;}
  button.active{background: var(--color-title); color: #FFF;}
  button.icon img{transition: inherit;}
  button.icon.active img{filter: brightness(0) invert(1);}
  .buttons{overflow: auto; --webkit-overflow-scrolling: touch; flex-wrap: nowrap;}
  .buttons button{width: 100%;}
  .buttons .col:not(:first-child){margin-left: -1px;}
  @media (hover: hover) and (pointer: fine) {
    button:hover{background: var(--color-hover); color: #FFF;}
    button.icon.white:hover img, button.icon.tint:hover img, button.icon.transparent:hover img{filter: brightness(0) invert(1);}
  }

  /* FORM */
  input, textarea{height: 28px; line-height: 20px; padding: 6px 10px; font-size: 11px; line-height: 16px; background: #FFF; border-radius: 6px; border: none; resize: none;}
  input[type="file"]{position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 0; opacity: 0;}
  textarea:focus, input:focus{
    outline: none;
  }

  .bottom-buttons{
    background: var(--bs-bgf1);
    .chat-content{
      min-height: 28px;
      height: 28px;
    }
  }


  //height: 100%;
  //&:not(:last-child) {
  //  margin-bottom: 20px;
  //}
  .widget-title {
    background: var(--bs-bg37);
    color: #FFF;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    z-index: 2;
  }


}


.widget-content {
  width: 100%;
}

.widget-tooltip {
  padding: 8px 11px;
  background: #FFF;
  border: 1px var(--color-divider) dashed;
  height: 100%;
}


/* CHAT */
.chat .panel {
  padding-left: 12px;
  padding-right: 12px;
}

.chat-content {
  position: relative;
  min-height: 44px;
}

.chat-content .panel {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  bottom: -1px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

.chat-wrapper {
  margin: -6px 0;
}

.chat-message, .chat .divider-line {
  padding: 6px 0;
}

.chat-placeholder {
  padding: 6px 8px;
}

.chat-message .header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat-message .header .icon {
  background-color: var(--color-tint);
  width: 28px;
  height: 28px;
  img{
    border-radius: 50%;
  }
}

.chat-message .header .description {
  padding: 0 8px;
  font-size: 9px;
  line-height: 14px;
}

.chat-message .text {
  margin-right: 36px;
  background: var(--color-tint);
  border-radius: 4px;
  color: var(--color-title);
  padding: 10px 12px;
  word-wrap: break-word;
}

.chat-message.self .header .icon {
  order: 1;
}

.chat-message.self .header {
  text-align: right;
  justify-content: flex-end;
}

.chat-message.self .text {
  margin: 0 0 0 36px;
  background: #E3E3E3;
}

.chat .divider-line {
  height: 60px;
  position: relative;
}

.chat .divider-line.active{background: url("/dashboard/chat/icon-line.svg") left center repeat-x;}
.chat .divider-line.active + .divider-line {
  display: none;
  margin-top: -60px;
}

.chat .divider-line button {
  position: absolute;
  left: -12px;
  top: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

.chat .divider-line button img {
  margin-left: 15px;
}

.chat input {
  margin: 0 8px;
  flex-grow: 1;
  color: var(--color-link);
}

/* UPLOAD */
.upload {
  display: flex;
  align-items: center;
  color: var(--color-title);
  padding: 18px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.upload-process {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--color-text);
}

.upload > .icon {
  margin-right: 15px;
}

.upload .description {
  font-size: 9px;
  line-height: 13px;
  margin-right: auto;
  position: relative;
}

.upload .description .title {
  padding-bottom: 4px;
}

.upload .controls .icon {
  margin-left: 8px;
  img{
    width: 12px;
    height: 12px;
  }
}

.upload .status {
  font-size: 7px;
  line-height: 10px;
}

.upload-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.66);
  color: #FFF;
  text-align: center;
}

.upload-wrapper.dragenter {
  border: 2px #FFF dashed;
}

.upload.state-uploading .close, .upload.state-uploading .pause {
  display: flex;
}

.upload.state-cancelled .arrow, .upload.state-cancelled .close {
  display: flex;
}

.upload.state-paused .arrow, .upload.state-paused .close {
  display: flex;
}

.upload.state-failed .arrow, .upload.state-failed .close {
  display: flex;
}

.upload.state-success .success {
  display: flex;
}

.upload.state-download .download {
  display: flex;
}

.upload.state-download .upload-process {
  display: none;
}

.upload-placeholder {
  position: relative;
  z-index: 2;
}

.upload-wrapper.dragenter .upload-placeholder {
  z-index: 0;
}




/* BUTTON */

.buttons{
  overflow: auto; --webkit-overflow-scrolling: touch; flex-wrap: nowrap;
  background: white;
  &.top-buttons{
    border: 1px var(--bs-bgd6) solid;
  }
  button{width: 100%;
    display: inline-block;
    text-align: center;
    color: inherit;
  }
  .col:not(:first-child){margin-left: -1px;}
}

.panel {
  border: 1px var(--bs-bgd6) solid;
  margin-top: -1px;
  padding: 6px 20px;
  min-height: 44px;
  display: flex;
  align-items: center;
  background: #FFF;
  overflow: hidden;
  &.tint{
    background: var(--bs-bgf1);
  }
}

.panel > .row {
  height: 100%;
}
