.Form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Form-Elem {
  margin-bottom: 14px;
}

.SocialBtn-Icon {
  margin-right: 1rem !important;
}

.Container {
  display: flex;
  flex-direction: column;
}
.Body-Container {
  height: 100%;
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.CheckboxContainer-ForgotPassword {
  margin-left: auto;
  justify-self: end;
}