.Sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 11;
}

.Sidebar-Title {
    border-bottom: 2px solid #D6D6D6;
    text-transform: uppercase;
    color: #888888;
    font-size: 11px;
    padding: 20px;
    margin-top: 60px;
}

.Sidebar-Links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Sidebar-LinksItem {
    color: #888;
    font-size: 11px;
    padding: 14px 20px;
    border-bottom: 2px solid #D6D6D6;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.Sidebar-LinksItem span svg path {
    fill: #D6D6D6;
}

.Sidebar-LinksItem:hover {
    background-color: #DEB851;
}

.Sidebar-LinksItem:hover span svg path,
.Sidebar-LinksItem:active span svg path {
    fill: #FFFFFF;
}

.Sidebar-LinksItem:hover a {
    color: #fff;
}


.Sidebar-LinksItem_Icon {
    display: flex;
    align-items: center;
    position: relative;
}

.Sidebar-LinksItem_Text {
    margin-left: 20px;
}

.Sidebar-LinksItem:active {
    background-color: #373737;
    color: #fff;
}

.Sidebar-LinksItem:last-child:active .Sidebar-LinksItem_Text::before {
    content: 'link copied';
    background-color: #DEB851;
    position: absolute;
    box-sizing: border-box;
    padding: 4px 14px;
    border-radius: 4px;
    right: 8px;
    top: 40px;
    width: 80px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    line-height: 12px;
    color: #fff;    
}