.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 18px;
  align-items: center;
  justify-items: center;
}

.container__hr {
  color: #888888;
  width: 100%;
}

.container__label {
  color: #888888;
  font-size: 12px;
}

.body__container {
  margin: 50px 0;
}