@font-face {
    font-family: digital-dismay-regular;
    src: url(/dashboard/fonts/digital-dismay-regular.ttf);
}

.Sidebar {
    width: 300px;
    float: right;
    /* background-color: lightslategrey; */
    background-color: #f1f1f1;
    margin-top: 30px;
}

.title {
    background-color: var(--main-color);
    color: white;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    padding: 15.62px;
}
.widget {
    border: 1px solid rgb(204, 200, 200);
}

.deadline-date {
    color: rgb(117, 115, 115);
    padding: 15px 0;
    font-size: 12px;
}

.right-border {
    border-right: 1px solid rgb(204, 200, 200);
}
.countdown {
    border-top: 1px solid rgb(204, 200, 200);
    font-size: 48px;
    line-height: 1;
    padding: 15px 0;
    font-family: "digital-dismay-regular";
}
.cowntdown-text {
    font-size: 10px;
    font-family: var(--bs-body-font-family);
    font-weight: bold;
}

.cd-days {
    padding: 0 10px;
}
.cd-hours {
    padding: 0 10px;
}
.cd-minutes {
    padding: 0 10px;
}
.cd-seconds {
    padding: 0 10px;
}

.judge-info {
    padding: 15px 25px;
    border-top: 1px solid rgb(204, 200, 200);
    /* border-bottom: 1px solid rgb(204, 200, 200); */
}

.judge-info-name {
    font-size: 12px;
    align-items: center;
}

.judge-info-name-content,
.judge-info-name-title {
    font-size: 12px;
    color: #7b7777;
    font-family: sans-serif;
}
.judge-info-image {
    padding: 10px;
    margin-bottom: -20px;
}

.comment-box-text {
    width: 75%;
    margin: 15px 0 0 0;
    padding: 7px;
    border-style: dashed;
    color: #7b7777;
    padding: 15px 0;
}
.comment-box-text:focus {
    border-style: dashed !important;
}
.submit-btn {
    padding: 10px !important;
    width: 100%;
    border: 0px solid #ccc;
    font-size: 12px;
    color: #7b7777;
}

.comment-box,
.rating-widget,
.submit-btn {
    border-top: 1px solid rgb(204, 200, 200);
}
.submit-btn-icon {
    top: 20px !important;
    padding-right: 10px !important;
}

.rating-error,
.comment-box-error {
    background-color: rgb(24, 23, 23);
    color: #ccc;
    padding: 4px;
    text-align: center;
    position: inherit;
    display: block;
    visibility: visible;
    transition: visibility 2.5s, opacity 2.5s;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards 0.5s ease-in-out;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% {
        visibility: collapse;
    }
}

@keyframes slide {
    100% {
        visibility: collapse;
    }
}
