.Text {
  color: #888888;
  font-size: 11px;
}
.Body-Text {
  margin: 0 0;
  margin-bottom: 10px;
  text-align: center;
}

.Container {
  background-color: white;
  border: 1px solid #D6D6D6;
  display: grid;
  grid-template-columns: 80px 80px;
  grid-auto-rows: 80px;
  grid-gap: 20px;
}

.Body-Container {
  padding: 30px 30px;
}

.AvatarWrapper {
  cursor: pointer;
  border-radius: 50%;
}
.AvatarWrapper[data-choosed="true"] {
  border: 8px solid #DEB851;
}