.add-button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 120px;
    border: 1px solid #d6d6d6;
    margin: 0 8px 16px;
    color: #888
}

.search-filter {
    min-width: 514px;
    width: calc(100% - 136px);
}
