.CardDetails {
  padding-top: 40px;
  width: 100%;
  background-color: #fff;
  color: #d6d6d6;
}

.CardDetails-Wrapper {
  margin: 0 auto;
  max-width: 940px;
}

.CardDetails-Header {
  padding: 0 20px;
}

.CardDetails-Header ul {
  margin-top: 5px;
}

.CardDetails-Buttons {
  padding: 20px 0;
}

.CardDetails-TitleWrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
}

.CardDetails-CompanyLogo {
  height: 105px;
  width: 105px;
  margin-right: 20px;
  border: 1px solid #d6d6d6;
  border-bottom: none;
}

.CardDetails-Title {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.CardDetails-Title:hover {
  color: #373737;
}
