.Sidebar {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  top: 69px;
  position: sticky;
  height: calc(100vh - 69px);
  overflow-y: auto;
}

.Sidebar-SearchInput {
  border-radius: 0;
  margin-bottom: 15px;
}

.SidebarTabs {
  display: flex;
  justify-content: space-between;
}

.SidebarTabs {
  margin-top: 15px;
}

.SidebarTabs button {
  width: 48%;
}

.SidebarTabs:first-of-type button:last-child {
  margin-left: 10px;
  width: 60%;
}
