.CompanyProfile {
  padding: 40px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 105px 1fr 1fr 1fr 1fr 105px;
  grid-template-rows: repeat(4, 45px);
  gap: 15px;
  color: #373737;
  font-size: 12px;
  grid-template-areas:
    "logo phone phone links links links"
    "logo email email links links links"
    "name name name site site qrcode"
    "location location location location location qrcode";
}

.CompanyProfile > div {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}

.CompanyProfile-CompanyLogo.CompanyProfile-CompanyLogo {
  grid-area: logo;
  background-color: transparent;
}

.CompanyProfile-Phone {
  display: flex;
  align-items: center;
  padding: 0 20px;
  grid-area: phone;
}

.CompanyProfile-Email {
  grid-area: email;
}

.CompanyProfile-Email a {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.CompanyProfile-Links {
  padding: 0 20px;
  grid-area: links;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompanyProfile-Name {
  padding: 0 20px;
  grid-area: name;
}

.CompanyProfile-Site {
  grid-area: site;
}

.CompanyProfile-Site a {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.CompanyProfile-Location {
  padding: 0 20px;
  cursor: pointer;
  grid-area: location;
}

.CompanyProfile-QrCode {
  grid-area: qrcode;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CompanyProfile-Links > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CompanyProfile-Button {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
}

.CompanyProfile-Button svg path {
  fill: #e3e3e3;
}

.CompanyProfile-Button:hover {
  color: #fff;
  background-color: #deb851;
}

.CompanyProfile-Button:hover svg path {
  fill: #fff;
}

.GoogleMap {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #fff;
  z-index: 0;
}

.GoogleMap div {
  width: 100%;
  height: 100%;
}

.GoogleMap iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
  outline: none;
}

.GoogleMap-CloseButton {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #373737;
  position: absolute;
  top: 20px;
  right: 20px;
}

.GoogleMap-Loading {
  height: 20px;
  width: 75px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 37.5px);
  z-index: -1;
}
