.AddLabelForm {
    margin-top: 20px;
}

.AddLabelForm-InputWrapper {
    width: 100%;
    height: 56px;
    background-color: #F1F1F1;
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddLabelForm-InputWrapper_Input {
    border: 1px solid #D6D6D6;
    margin: 12px;
    width: 100%;
    height: 32px;
    font-size: 9px;
    padding: 12px;
    color: #3A63DEE8;
    outline: none;
}

.AddLabelForm-InputWrapper_Input::placeholder {
    color: #D6D6D6;
}

.AddLabelForm-ButtonWrapper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 47px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.AddLabelForm-InputWrapper_Button {
    width: 120px;
    height: 28px;
    background-color: #F1F1F1;
    border: 1px solid #D6D6D6;
    padding: 8px 24px;
    color: #888888;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.AddLabelForm-InputWrapper_Button svg path {
    fill: #888888;
}

.AddLabelForm-InputWrapper_Button:hover {
    background-color: #DEB851;
    color: #fff;
}

.AddLabelForm-InputWrapper_Button:active {
    background-color: #373737;
    color: #fff;
}

.AddLabelForm-InputWrapper_Button:hover svg path,
.AddLabelForm-InputWrapper_Button:active svg path {
    fill: #fff;
}