.ColorPicker-Wrapper {
    width: 120px;
    height: 148px;
}

.ColorPicker-ColorsList {
    margin: 0;
    padding: 11px;
    display: grid;
    grid-template-columns: repeat(5, 16px);
    gap: 8px 4px;
    border: 1px solid #D6D6D6;
    list-style: none;
}

.ColorPicker-ColorItem {
    width: 16px;
    height: 16px;
    border: 1px solid #D6D6D6;
    position: relative;
    cursor: pointer;
}

.Selected.ColorPicker-ColorItem:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ColorPicker-Button {
    width: 120px;
    height: 28px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    padding: 8px 44px;
    color: #888888;
    font-size: 9px;
    font-weight: medium;
    text-align: center;
    cursor: pointer;
}

.ColorPicker-Button:hover {
    background-color: #DEB851;
    color: #fff;
}

.ColorPicker-Button:active {
    background-color: #373737;
    color: #fff
}