.SidebarTabs {
  margin-top: 25px;
}

.SidebarTabs-List[data-reach-tab-list] {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
}

.SidebarTabs-Tab[data-reach-tab] {
  margin-top: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  flex-basis: 48%;
}

.SidebarTabs-Tab[data-reach-tab] span {
  display: inline-block;
  margin-left: 15px;
}

.SidebarTabs-Tab[data-selected].SidebarTabs-Tab {
  background-color: #f1f1f1;
  border-bottom-color: #d6d6d6;
}

.SidebarTabs-Tab[data-reach-tab] svg path {
  fill: #d6d6d6;
}

.SidebarTabs-Tab[data-reach-tab]:nth-child(1) {
  margin-top: 0;
  flex-basis: 41%;
}

.SidebarTabs-Tab[data-reach-tab]:nth-child(2) {
  margin-top: 0;
  flex-basis: 55%;
}

/* .SidebarTabs:first-of-type button:last-child {
  margin-left: 10px;
  width: 60%;
} */
